{% extends "layout.html" %}

{% block main %}
  <form action="/add_book" method="POST">
  <label for="title">Book title:</label>
  <input type="text" id="title" name="title" required><br><br>
  <label for="author">Author:</label>
  <select id="author" name="author" required>
      {% for author in authors %}
      <option value="{{ author.id }}">{{ author.name }}</option>
      {% endfor %}
  </select><br><br>
  <label for="ISBN">ISBN:</label>
  <input type="number" id="ISBN" name="ISBN" required maxlength="13"><br><br>
  <label for="publication_year">Publication year:</label>
  <input type="number" min=1966 id="publication_year" name="publication_year" required><br><br>
  <input type="submit" value="Add Book" name="add">
  </form>
  {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
  {% endif %}

  <script>
      function setYear() {
      let year = new Date().getFullYear();
      let publicationYear = document.getElementById('publication_year');
      publicationYear.setAttribute('max', year);
      publicationYear.setAttribute('value', year);
      };
      document.addEventListener('DOMContentLoaded', setYear);
  </script>
{% endblock %}

