{% extends "layout.html" %}

{% block main %}
<div class="books-container">
  {% for book in books %}
  <div class="container">
        <div class="slide" id="cover-card">
            <img src="https://covers.openlibrary.org/b/ISBN/{{ book.isbn }}-M.jpg" alt="cover of {{ book.title }}" class="book-cover">
        </div>
        <div class="slide" id="book-card">
            <h1>{{ book.title }}</h1>
            <form action="books"  method="post" class="form-button-format">
                <p class="form-button-format">{{ book.name }}</p>
                <p class="form-button-format">{{ book.publication_year }}</p>
                <button name="delete" value="{{ book.id }}" type="submit" class="form-button-format">delete book</button>
            </form>


        </div>
    </div>
  {% endfor %}
      </div>
{% endblock %}