<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body>
  <nav class="topnav">
    <a href="Sort">Sort Books</a>
    <a href="/add_book">Add Book</a>
    <a href="/add_author">Add Author</a>
 </nav>
  <div class="books-container">
  {% for book in books %}
  <div class="container">
        <div class="slide" id="cover-card">
            <img src="https://covers.openlibrary.org/b/ISBN/{{ book.isbn }}-M.jpg" alt="cover of {{ book.title }}" class="book-cover">
        </div>
        <div class="slide" id="book-card">
            <h1>{{ book.title }}</h1>
            <form action="/submit" method="post" class="form-button-format">
                <p class="form-button-format">{{ book.name }}</p>
                <p class="form-button-format">{{ book.publication_year }}</p>
            </form>
            <button type="button" class="form-button-format">delete book</button>
        </div>
    </div>
  {% endfor %}
      </div>
  </body>
</html>