{% extends "layout.html" %}

{% block main %}
<h2>⎯⎯ recently added ⎯⎯</h2>
{% if books %}
    <div class="book-container-wrapper">
    {% for book in books %}
        <div class="container">
            <div class="slide index-book-cover">
                <img src="https://covers.openlibrary.org/b/ISBN/{{ book.isbn }}-M.jpg" alt="cover of {{ book.title }}" class="book-cover">
            </div>
            <div class="slide index-book-card">
                <h1>{{ book.title }}</h1>
                <form action="books"  method="post" class="form-button-format">
                    <p class="form-button-format">{{ book.name }}</p>
                    <p class="form-button-format">{{ book.publication_year }}</p>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p class="message-display"> oops, nothing to see here</p>
{% endif %}
<h2>⎯⎯ next read maybe? ⎯⎯</h2>
{% if recommended_book %}
    <div class="book-container-wrapper">
        <div class="container">
            <div class="slide index-book-cover">
                <img src="https://covers.openlibrary.org/b/ISBN/{{ recommended_book.isbn }}-M.jpg" alt="cover of {{ recommended_book.title }}" class="book-cover">
            </div>
            <div class="slide index-book-card">
                <h1>{{ recommended_book.title }}</h1>
                <form action="books"  method="post" class="form-button-format">
                    <p class="form-button-format">{{ recommended_book.name }}</p>
                    <p class="form-button-format">{{ recommended_book.publication_year }}</p>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <p> oops, nothing to see here</p>
{% endif %}

{% endblock %}